/* Universal style */
/* 
#0dceda - cyan
#111111 - darkgrey
#28e6f2 - light cyan
#0aa0aa - deep cyan
#2a2a2a - light grey
#000000 - black
#f7f7f7 - lighter grey (background)
 */
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #111111;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.flex {
  display: flex;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
}