/* Universal style */
/* rgb(56,99,141) */

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

h1 {
  font-size: 12vw;
  font-weight: 500;
  line-height: 1.2;
}

.flex {
  display: flex;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
}

section {
  scroll-snap-align: start;
}

.fadein {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.5s linear, opacity 1.5s linear;
}

/* Navigation bar */
.navbar-mobile {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.75rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 54px;
}

.logo-container-mobile {
  align-items: center;
}

.logo-container-mobile .image-container {
  width: 30%;
  max-width: 400px;
}

.logo-container-mobile img {
  width: 100%;
}

.image-container .nav-logo2 {
  display:none;
}

.logo-container-mobile p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

#link-container-mobile {
  display: block;
  position: fixed;
  width: 80%;
  text-align: right;
  right: -100%;
  height: 100%;
  top: 0;
  padding: 0 1.5rem;
  background-color: white;
  transition: right 1s ease 0s;
}

#link-container-mobile ul li {
  margin-top: 1.5rem;
  font-weight: 100;
  cursor: pointer;
}

.fa-bars {
  color: #fff
}

.navbar-desktop {
  display: none;
}

@media only screen and (min-width: 800px){
  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    width: 100%;
    height: 70px;
    position: fixed;
    top: -54px;
    left: 0;
    right: 0;
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
  }

  .logo-container-desktop {
    align-items: center;
  }

  .logo-container-desktop .image-container {
    width: 30%;
    max-width: 500px;
  }

  .logo-container-desktop img {
    width: 100%;
  }

  .logo-container-desktop p {
    font-family: "Signika Negative", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  #link-container-desktop {
    width: 60%;
  }

  #link-container-desktop ul {
    justify-content: flex-end;
    align-items: center;
  }

  #link-container-desktop ul li {
    font-weight: 300;
    margin: 0 1rem;
    min-width: max-content;
  }

  #link-container-desktop ul li a {
    padding-bottom: 0.5rem;
    color: #fff
  }

  #link-container-desktop ul li a:hover {
    border-bottom: solid #fff 1px;
  }
}

/* introduction */

.introduction {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #38638d, #38638d, #38638d, #38638d, #38638d, #436b95, #4e749e, #587ca6, #587ca6, #587ca6, #587ca6, #587ca6);
}

#intro-title {
  width: 50%;
  height: auto;
  padding-top: 20vh;
  margin: 0 auto;
  text-align: center;
}

#intro-logo-container1 {
  width: 100%
}

#intro-logo-container2 {
  display: none;
}

#intro-logo-container1 > img {
  width: 100%
}

#intro-links > ul {
  display: flex;
  margin: 20% auto;
  justify-content: center;
}

#intro-links > ul > li {
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px;
}

#intro-links > ul > li > a {
  color: #fff;
  font-weight: 300;
}

@media only screen and (min-width: 800px) {
  .introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #intro-title {
    width: 50%;
    height: auto;
    padding-top: 0;
    margin: 0;
    text-align: center;
  }

  #intro-logo-container1 {
    display: none;
  }

  #intro-logo-container2 {
    display: block;
  }

  #intro-links > ul {
    display: block;
    margin: 20% auto;
    justify-content: center;
  }

  #intro-links > ul > li {
    margin: 3rem 1rem;
    border-bottom: none;
    transition: transform 0.5s ease;
  }

  #intro-links > ul > li > a {
    font-size: 3vw;
    font-weight: 100;
    cursor: pointer;
  }

  #intro-links > ul > li:hover {
    transform: scale(1.3);
  }

}

/* Portfolio */

#portfolio {
  width: 100vw;
  padding-bottom: 3rem;
  border-bottom: 0.5px solid #acacac;
}

#portfolio-title-container {
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

#portfolio-title-container > h2 {
  color: #000;
  font-size: 35px;
  letter-spacing: 0.05rem;
  font-weight: 300;
}

.portfolio-card {
  width: 90vw;
  height: 90vw;

  margin: 1rem auto;
  border-radius: 10px;
}

.portfolio-card > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio-card > a > img {
  width: 90%;
}

.card1 {
  background-color: #38638d;
}

.card1 > a > h3 {
  margin: 1rem auto;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.card2 {
  background-color: #ffcd3c;

}

.card2 > a > h3 {
  margin: 1rem auto;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #111111
}

.card3 {
  background-color: #38638d;
}

.card3 > a > h3 {
  margin: 1rem auto;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.portfolio-desc {
  display: none;
}

.card4 {
  background-color: #ffcd3c;

}

.card4 > a > h3 {
  margin: 1rem auto;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #111111
}

@media only screen and (min-width: 500px) {
  #portfolio-title-container > h2 { 
    color: #000;
    font-size: 42px;
  }

  #portfolio-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 1.5rem;
  }

  
  .portfolio-card {
    width: 20vw;
    height: 20vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #bbbbbb;
    cursor: pointer;
  }
  
  .portfolio-card > a {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1 / 1;
    overflow: hidden;
  }
  
  .portfolio-card h3 {
    grid-area: 1 / 1 / 2 / 2;
    display: block;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s linear, opacity 0.5s linear;
  }

  .portfolio-card img {
    grid-area: 1 / 1 / 2 / 2;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    width: 100%;
    margin: auto;
    padding: 1rem;
  }
  
  .portfolio-card:hover img {
    visibility: hidden;
    opacity: 0;
  }
  
  .portfolio-card:hover h3 {
    visibility: visible;
    opacity: 1;
  }
  
  .portfolio-desc {
    display: block;
    border-radius: 10px;
  }
  
  .card1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #38638d;
  }
  
  .desc1 {
    grid-area: 1 / 2 / 2 / 5;
    background-color: #ffcd3c;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
  
  .desc1 > i {
    margin: 0 1rem;
  }
    
  .card2 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: #38638d;
  }
  
  .card2 > a > h3 {
    text-align: center;
    color: #fff
  }
  
  .desc2 {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #ffcd3c;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }

  .desc2 > i {
    margin: 0 1rem;
  }

  .card3 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #38638d;
  }

  .desc3 {
    grid-area: 3 / 2 / 4 / 5;
    background-color: #ffcd3c;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }

  .desc3 > i {
    margin: 0 1rem;
  }

  .card4 {
    grid-area: 4 / 4 / 5 / 5;
    background-color: #38638d;
  }
  
  .card4 > a > h3 {
    text-align: center;
    color: #fff
  }

  .desc4 {
    grid-area: 4 / 1 / 5 / 4;
    background-color: #ffcd3c;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }

  .desc4 > i {
    margin: 0 1rem;
  }

}

/* about me */
#aboutMe {
  width: 100vw;
  padding-bottom: 4rem;
}

#aboutMe-container {
  padding-top: 70px;
  flex-direction: column;
}

#aboutMe1 {
  padding-bottom: 2rem;
}
#aboutMe1 h2 {
  font-size: 35px;
  color: #111111;
  font-weight: 300;
  text-align: center;
}

#aboutMe1 p {
  font-size: 16px;
  color: #111111;
  margin: 2rem;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0.05rem;
}

#aboutMe1 div {
  display: flex;
  justify-content: center;
}

#aboutMe1 button {
  border: none;
  background-color: #00000000;
  color: #38638d;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  border-bottom: 0.5px solid;
  cursor: pointer;
}

#aboutMe2 {
  width: 100vw;
  height: 100vw;
  background-image: url("../images/aboutme-background.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  object-fit: contain;
}

#techStack {
  margin: 2rem;
}

#techStack h2{
  font-size: 35px;
  color: #111111;
  font-weight: 300;
  text-align: center;
  padding-bottom: 2rem;
}

#techStack ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#techStack li {
  font-size: 16px;
  margin: 1rem;
  color: #111111;
  text-align: center;
}

#techStack img {
  display: block;
  width: 80px;
  height: 80px;
  padding-bottom: 1rem;
}

/* Contact Me */
#contactMe {
  background-image: linear-gradient(to right top, #38638d, #38638d, #38638d, #38638d, #38638d, #436b95, #4e749e, #587ca6, #587ca6, #587ca6, #587ca6, #587ca6);
}

#contactMe h2{
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 2rem;
}

#contactMe ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#contactMe li {
  font-size: 16px;
  margin: 1rem;
  color: #111111;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

#contactMe img {
  display: block;
  width: 80px;
  height: 80px;
  padding-bottom: 1rem;
}

#contactMe i{
  /* display: block;
  width: 80px;
  height: 80px;*/
  padding-bottom: 1rem;
  color: #fff;
  font-size: 40px;
  /* margin: auto; */
}